html {
    margin: 0;
    padding: 0;
    background-color: #888;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: min(100vw, 80vh);
    max-width: 80vh;
}

.toolbar {
    font-size: 1.5vh;
    margin-bottom: 1vh;
}

.toolbar div {
    margin-bottom: 0.5vh;
}

.toolbar * {
    vertical-align: middle;
}

.color_button {
    height: 2em;
    width: 2em;
    margin-right: 1em;
}



#display_canvas {
    width: 100%;
    height: 90%;
    image-rendering: pixelated;
}

input {
    text-align: center;
}
